<mat-card appearance="outlined" mat-elevation-z8>
  <mat-card-content>
    <mat-form-field appearance="outline">
      <mat-label>Komponente auswählen</mat-label>
      <input
        type="text"
        matInput
        [matAutocomplete]="auto"
        [value]="inputOption1()"
        (input)="onInputChange($event)"
        (blur)="onInputBlur()"
        (click)="onInputClick()"
      />
    
      <button
        mat-icon-button
        matSuffix
        aria-label="Eingabe zurücksetzen"
        (click)="onReset(); $event.stopPropagation()"
      >
        <mat-icon>clear</mat-icon>
      </button>
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="onOptionSelected($event)"
        [displayWith]="displayFn"
      >
        @for(option of filteredOptions1(); track option) {
          <mat-option          
            [value]="option"
          >
            {{ option.code }} - {{ option.description }}
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

    @if(inputOption1()) {
      <mat-form-field appearance="outline">
        <mat-label>Komponente auswählen</mat-label>
        <input
          type="text"
          matInput
          [matAutocomplete]="auto"
          [value]="inputOption2()"
          (input)="onInputChange2($event)"
          (blur)="onInputBlur2()"
          (click)="onInputClick2()"
        />
        
        <button
          mat-icon-button
          matSuffix
          aria-label="Eingabe zurücksetzen"
          (click)="onReset2(); $event.stopPropagation()"
        >
          <mat-icon>clear</mat-icon>
        </button>
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="onOptionSelected2($event)"
          [displayWith]="displayFn"
        >
          @for(option of filteredOptions2(); track option) {
            <mat-option          
              [value]="option"
            >
              {{ option.code }} - {{ option.description }}
            </mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    }
    @if(inputOption1() && inputOption2()) {
      <mat-form-field appearance="outline">
        <mat-label>Komponente auswählen</mat-label>
        <input
          type="text"
          matInput
          [matAutocomplete]="auto"
          [value]="inputOption3()"
          (input)="onInputChange3($event)"
          (blur)="onInputBlur3()"
          (click)="onInputClick3()"
        />
        
        <button
          mat-icon-button
          matSuffix
          aria-label="Eingabe zurücksetzen"
          (click)="onReset3(); $event.stopPropagation()"
        >
          <mat-icon>clear</mat-icon>
        </button>
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="onOptionSelected3($event)"
          [displayWith]="displayFn"
        >
          @for(option of filteredOptions3(); track option) {
            <mat-option          
              [value]="option"
            >
              {{ option.code }} - {{ option.description }}
            </mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    }

    @if (inputOption1() && inputOption2() && inputOption3()) {
      <mat-form-field appearance="outline">
        <mat-label>Komponente auswählen</mat-label>
        <input
          type="text"
          matInput
          [matAutocomplete]="auto"
          [value]="inputOption4()"
          (input)="onInputChange4($event)"
          (blur)="onInputBlur4()"
          (click)="onInputClick4()"
        />
        
        <button
          mat-icon-button
          matSuffix
          aria-label="Eingabe zurücksetzen"
          (click)="onReset4(); $event.stopPropagation()"
        >
          <mat-icon>clear</mat-icon>
        </button>
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="onOptionSelected4($event)"
          [displayWith]="displayFn"
        >
          @for(option of filteredOptions4(); track option) {
            <mat-option          
              [value]="option"
            >
              {{ option.code }} - {{ option.description }}
            </mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    }

    <button 
      mat-fab
      (click)="addKomponente()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <mat-list>
      @for (eintrag of komponenteGruppen(); track eintrag) {
        <mat-list-item>
          <p>{{ eintrag }}</p>
        </mat-list-item>
      }
      
    </mat-list>
  </mat-card-content>
</mat-card>